CORS_ORIGIN=*
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/... # Get this from your slack app
PUBLIC_BOLNA_WEBHOOK_RECEIVER=http://localhost:3000/webhooks/bolna # Use this URL in the Bolna Analytics webhook settings